<!-- Standalone page showing SCM Repositories and Bookmarklets supported by this instance of Stecker. -->
<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Stecker - Bookmarklets</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/simplegrid.css" type="text/css" />
<link rel="stylesheet" href="css/stecker.css" type="text/css" />

</head>

<body>

  <div class="grid reset-margin">

    <div class="col-3-12">
      <div class="right">
        {{>bookmarklets-sidebar}}
      </div>
    </div>

  </div>

</body>

</html>